/*
 * Rsponsive breakpoints:
 * 1150px > 600px (post width) + 240px * 2 (side margin) + 30px (scrollbar leeway) for widescreen
 *   Widescreen has globally-centered posts
 * 800 for landscape tablets
 *   Landscape tablet has sideway centered posts
 *   A in-between breakpoint = 950px is used to tune down post width 600px -> 450px
 * 500 for small phones
 *   reduced padding, vertical metadata
 */

/* Typed custom properties */

/* Allow --startup-offset to be animated */
@property --startup-offset {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

/* Resets */

* {
  box-sizing: inherit;
  transform-style: inherit;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed var(--color-fg-icon);
  color: oklab(0.7 0 -0.1);
}

/* Root */

:root {
  font-family: "Source Sans Pro", "Source Han Sans SC", "Source Han Sans VF SC", sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Default for light stuff */
  --color-bg: #FFF;
  --color-fg: #000;
  --color-fg-secondary: oklab(0.3 0 0);
  --color-fg-icon: oklab(0.7 0 0);

  --shard-lightness-1: 0.9;
  --shard-lightness-2: 0.7;
  --shard-lightness-3: 0.4;
  --shard-lightness-docked: 0.4;

  @media (prefers-color-scheme: dark) {
    &:not(.light) {
      --color-bg: #2e2f33;
      --color-fg: oklab(0.95 0 0);
      --color-fg-secondary: oklab(0.8 0 0);
      --color-fg-icon: oklab(0.6 0 0);

      --shard-lightness-1: 0.4;
      --shard-lightness-2: 0.7;
      --shard-lightness-3: 0.9;
      --shard-lightness-docked: 0.9;
    }
  }

  overflow-y: scroll;
  overflow-x: hidden;

  background: var(--color-bg);
  color: var(--color-fg);
}

#scroll-sentinel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px; /* Dictates the scroll distance from top */
  pointer-events: none;
}

/* Logo & nav */
#logo {
  position: fixed;
  left: 20px;
  top: 30px;
  transform-origin: 20px 0;
  transform: scale(1.5);
  transition: transform .2s ease;

  width: 160px;
  height: 100px;

  z-index: 10;
}

#logo-shards {
  & > .logo-shards-container {
    filter: drop-shadow(0 var(--shadow) calc(var(--shadow) * 1.5) rgba(0, 0, 0, 0.3));
    & > use {
      transition: filter .2s ease, transform .2s ease;
      fill: white;
    }
  }

  & > .logo-shards-container:nth-last-child(1) {
    & > use {
      filter: brightness(var(--shard-lightness-1));
    }
  }

  & > .logo-shards-container:nth-last-child(2) {
    & > use {
      /*
      // f(x) = ax^2 + bx + c
      // f'(0.5d) = ad + b = 1
      // f'(1.5d) = 3ad + b = 0
      // a = -1/2d, b = 2
      // f(1.5d) = -9/8d + 3d + c = d => c = -7/8d
      */
      /*
      --regulated-offset: clamp(0px,
        calc(var(--startup-offset) / 1.5 + 2 * var(--distance)),
        calc(var(--distance) * 1.5)
      );
      transform: translateX(
        max(
          calc(
            -0.5 * (var(--regulated-offset) / var(--distance)) * var(--regulated-offset)
            + 2 * var(--regulated-offset)
            - 7 / 8 * var(--distance)
          )
        )
      );
      */

      transform: translateX(clamp(
        0px,
        calc(2 * var(--distance) + var(--startup-offset) / 1.5),
        var(--distance)
      ));
      filter: brightness(var(--shard-lightness-2));
    }
  }

  & > .logo-shards-container:nth-last-child(3) {
    & > use {
      transform: translateX(max(
        calc(2 * var(--distance) + var(--startup-offset) / 1.5),
        0px
      ));
      filter: brightness(var(--shard-lightness-3));
    }
  }
}

#logo-mask > g {
  transition: transform .2s ease;
  transform: translateX(calc(var(--gap) - var(--distance)));
}

#lang-sel {
  position: fixed;
  top: 55px;
  left: 200px;

  z-index: 10;

  transition: transform .2s ease;

  font-size: 12px;
  line-height: 20px;
  user-select: none;
  display: flex;
  align-items: center;

  & > button {
    display: inline-block;
    opacity: .3;
    transition: opacity .2s ease;

    &.active, &:hover {
      opacity: 1;
    }
  }

  & > span {
    display: inline-block;
    margin: 0 5px;
    opacity: .18;
    font-size: 6px;
    line-height: 20px;
  }
}

#brand {
  font-family: "Source Serif Pro", "Source Han Serif SC", "Source Han Serif VF SC", "Source Han Serif", "Source Han Serif VF", serif;
  font-weight: 900;
  font-size: 48px;
  position: fixed;
  left: 200px;
  top: 80px;

  transition: transform .1s ease, opacity .1s ease;

  margin: 0;
  line-height: 56px;
  clip-path: inset(0 0 0 -100px);

  & > span {
    transform: translateX(var(--startup-offset));
    display: inline-block;
  }
}

/* Not to be confused with #nav the nav list */
nav {
  width: 100%;
}

@media (max-width: 800px) {
  nav {
    &::after {
      content: "";
      position: fixed;
      opacity: 1;
      width: 100vw;
      height: 80px;
      top: 0;
      left: 0;
      right: 0;
      background: var(--color-bg);
      box-shadow: 0 2px 3px rgba(0,0,0,.3);
      border-bottom: rgba(0,0,0,.3) 5px solid;
      transition: opacity .2s ease;
      z-index: 1;
    }
  }
}

/*
 * The float-right parts of nav during narrow screen
 * This is used to apply a translate to conteract the scrollbar width
 */
#nav-right {
  position: fixed;
  width: 100%;
  transition: transform .2s ease;
  z-index: 10;
}

#nav {
  padding: 0;
  position: fixed;
  left: 200px;
  top: 130px;
  transform-origin: 0 0;

  transition: transform .2s ease;

  margin: 0;
  line-height: 36px;
  z-index: 10;

  & a {
    color: var(--color-fg);
    line-height: 20px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: ">";
      font-size: 10px;
      font-family: monospace;
      margin-right: 5px;
    }
  }
}

/* Title */

.title {
  /* transform-style: preserve-3d; */

  width: calc(var(--optical-width) * var(--size) * 1px);
  height: calc(var(--line-cnt) * var(--line-height));

  fill: var(--color-fg);

  & .var-group {
    transform-origin: 0 0;
    /*
     * Remember to sync the following declaration to .post-title,
     * .post-metadata-aux .title, and also applyTitleVariation !
     */
    transform:
      translateY(calc(var(--grp-line)* var(--line-height) + var(--baseline-y)))
      scale(var(--size))
      translateX(var(--grp-line-xdiff, var(--grp-xdiff)));
  }

  & .glyph {
    transform: translateX(var(--in-grp-xdiff));
  }

  & path {
    transform-origin: 0 0;
  }

  pointer-events: none;
  overflow: visible;
}

/* List */

.list {
  position: absolute;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  padding: 250px 60px 0 0;

  @media (max-width: 800px) {
    left: 0;
    width: 100%;
    padding: 250px 60px 0 60px;
  }

  @media (max-width: 500px) {
    padding: 250px 40px 0 40px;
  }
}

.entry {
  margin-bottom: 60px;
  content-visibility: auto;
}

.entry-title {
  --size: 24;
  --baseline-y: 30px;
  --line-height: 40px;
  margin-bottom: 10px;
  position: relative;
  width: min-content;
}

.entry-title-tangible {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  font-size: calc(var(--size) * 1px);
  line-height: 40px;
  overflow: hidden;
  color: transparent;
}

.entry-time {
  font-size: 14px;
  color: var(--color-fg-secondary);
  line-height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & svg {
    height: 16px;
    width: 16px;
    margin-left: 5px;
    fill: var(--color-fg-icon);
  }
}

/* Posts */
.post {
  position: absolute;
  width: 100%;
  top: 0;

  --title-line-height: 60px;
  --title-line-cnt: 1;
  --post-top-gutter: clamp(
    calc(120px + var(--title-line-height) * var(--title-line-cnt)),
    50vh,
    calc(240px + var(--title-line-height) * var(--title-line-cnt))
  );

  @media (max-width: 800px) {
    --post-top-gutter: max(
      calc(160px + var(--title-line-height) * var(--title-line-cnt)),
      calc(240px + 0.5 * var(--title-line-height) * var(--title-line-cnt))
    )
  }
}

.post-title {
  --size: 48;
  --baseline-y: 48px;
  --line-height: var(--title-line-height);
  position: absolute;
  top: var(--post-top-gutter);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  pointer-events: all;

  @media (max-width: 1150px) {
    transform: translateX(90px) translateX(-50%) translateY(-100%);
  }

  @media (max-width: 800px) {
    transform: translateX(-50%) translateY(-100%);
  }

  & .var-group {
    transform:
      translateY(calc(var(--grp-line)* var(--line-height) + var(--baseline-y)))
      translateY(calc(0px - 1px * var(--scroll, 0) * (var(--var-scale) - 0.5) / 2))
      scale(var(--size))
      translateX(var(--grp-line-xdiff, var(--grp-xdiff)))
      translate(var(--var-offset-x, 0px), var(--var-offset-y, 0px))
      scale(var(--var-scale, 1));

    filter: blur(calc(1px * var(--scroll, 0) * (var(--var-scale) - 0.7) / 500));
    opacity: calc(1 - var(--scroll, 0) * (var(--var-scale) - 0.5) / 200);
  }
}

.post-content-wrapper {
  margin-top: calc(var(--post-top-gutter) + 100px);
  padding: 0px 240px 60px 240px;
  position: relative;

  @media (max-width: 1150px) {
    padding: 0px 60px 60px 240px;
  }

  @media (max-width: 800px) {
    padding: 0px 60px 60px 60px;
  }

  @media (max-width: 500px) {
    padding: 0px 40px 60px 40px;
  }
}

.post-content {
  max-width: 600px;
  @media (max-width: 950px) {
    max-width: 450px;
  }
  margin: 0 auto;
  font-size: 16px;
  line-height: 28px;
}

.post-metadata, .post-metadata-aux {
  & .post-metadata-line {
    display: flex;
    align-items: center;
  }

  & svg:not(.title) {
    height: 18px;
    fill: var(--color-fg-icon);
  }

  font-size: 14px;
  line-height: 18px;
}

.post-metadata {
  position: absolute;

  left: 0;
  right: 0;
  top: -80px; /* .post-content-wrapper was 50vh + 100px */

  @media (max-width: 1150px) {
    left: 180px;
  }

  @media (max-width: 800px) {
    left: 0;
  }

  @media (max-width: 500px) {
    position: relative;
    left: 0;
    flex-direction: column;
    margin-bottom: -40px;
    & .post-metadata-line {
      justify-content: center;
      margin-bottom: 5px;
    }
  }

  display: flex;
  justify-content: center;


  & .post-metadata-line {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.post-metadata-aux {
  position: fixed;
  left: 40px;
  top: 140px;
  display: block;
  z-index: 1;

  @media (max-width: 800px) {
    top: 0;
    left: 100px;
    height: 80px;
    width: calc(100% - 260px);
    display: flex;
    flex-direction: row;
    align-items: center;

    & .post-metadata-line {
      display: none;
    }
  }

  & .post-metadata-line {
    margin-bottom: 5px;
  }

  & .title {
    --baseline-y: 18px;
    --size: 16;
    --line-height: 24px;
    margin-bottom: 10px;

    @media (max-width: 800px) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  & .post-metadata-line, & .title .var-group {
    transition-property: opacity, transform;
    transition-duration: .1s;
    transition-timing-function: ease-out;
  }

  & .title .var-group {
    transition-delay: calc(var(--grp-id) * 15ms);
  }
}

.post {
  &.post-exiting, &:not(.post-docked) {
    & .post-metadata-aux {
      & .post-metadata-line {
        opacity: 0;
        transform: translateX(-5px);
      }
      & .title .var-group {
        opacity: 0;
        transform:
          translateX(-5px)
          translateY(calc(var(--grp-line)* var(--line-height) + var(--baseline-y)))
          scale(var(--size))
          translateX(var(--grp-line-xdiff, var(--grp-xdiff)));
      }
    }
  }
}

.post-metadata-published, .post-metadata-updated {
  font-family: monospace;
}

.post-comments {
  max-width: 600px;
  margin: 60px auto 0 auto;

  @media (max-width: 950px) {
    max-width: 450px;
  }
}

/* Content */
blockquote {
  border-left: rgba(0,0,0,.3) 10px solid;
  background: rgba(0,0,0,.05);
  margin: 0;
  padding: 0px 20px 0 30px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0,0,0,.3);
  display: flow-root;
}

pre:has(code) {
  background: #002b36;
  color: #839496;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0,0,0,.3);
  overflow: auto;
}

/* States */

root.initial {
  transition: --startup-offset .8s cubic-bezier(0, 0, 0, 1);
  transition-delay: .2s;
  & #logo {
    transition: opacity .2s ease-out;
    .logo-shards-container {
      transition-property: filter;
      transition-timing-function: ease-out;
      transition-duration: .2s;
      transition-delay: 0s;
      &:not(:nth-last-child(1)) {
        transition-delay: .4s;
      }

      > use {
        transition: filter .2s ease;
      }
    }
  }

  & #lang-sel, & #nav {
    transition: opacity .3s ease-out, transform .3s ease-out;
    transition-delay: .7s;
  }

  & #brand {
    transition-delay: 0;
  }
}


root.banner {
  --startup-offset: 0;

  & #lang-sel {
    opacity: 1;
  }

  & #nav {
    opacity: 1;
  }

  & #brand {
    transition-delay: .1s, .1s;
  }

  & #logo {
    --gap: 0px;
    --distance: 20px;
    --shadow: 2px;
    
    opacity: 1;
  }

  & nav::after {
    opacity: 0;
    pointer-events: none;
  }
}

root.banner-trigger {
  --startup-offset: -200px;

  #logo {
    --gap: 0px;
    --distance: 20px;
    --shadow: 0;
    opacity: 0;
  }

  & #lang-sel {
    transform: translateY(5px);
    opacity: 0;
  }

  & #nav {
    transform: translateY(-5px);
    opacity: 0;
  }

  & .list {
    transform: translateY(-5px);
    opacity: 0;
  }
}

root.header {
  --startup-offset: 0;

  #nav-right {
    @media (max-width: 800px) {
      transform: translate(calc(100% - 100vw));
    }
  }

  & #lang-sel {
    opacity: 1;
    transform: translate(-90px, -20px);

    @media (max-width: 800px) {
      transform: translate(-100%, 0) translateX(100vw) translate(-220px, -40px);
    }
  }

  & #nav {
    opacity: 1;
    transform: translate(-160px, -50px) scale(.75);

    @media (max-width: 800px) {
      transform: translate(-80%, -80%) translateX(100vw) translate(-220px, -65px) scale(.8);
    }
  }

  & #brand {
    transform: scale(.9) translate(-20px, -10px);
    opacity: 0;
    pointer-events: none;
  }

  #logo {
    --gap: 10px;
    --distance: 30px;
    --shadow: 0;
    
    --shard-lightness-1: var(--shard-lightness-docked);
    --shard-lightness-2: var(--shard-lightness-docked);
    --shard-lightness-3: var(--shard-lightness-docked);
    opacity: 1;
    transform: scale(.5);
    cursor: default;

    @media (max-width: 800px) {
      transform: translate(-15px, -15px) scale(.5);
    }

    &:has(.logo-shards-container:hover) {
      --distance: 35px;
      cursor: pointer;
    }
  }
}

root.header-trigger {
  --startup-offset: -80px;

  #logo {
    --gap: 0px;
    --distance: 20px;
    --shadow: 0;
    opacity: 0;
  }

  & #lang-sel {
    opacity: 0;
  }

  & #nav {
    opacity: 0;
  }

  & .list {
    transform: translateY(-5px);
    opacity: 0;
  }
}